body {
    background-image: url('MacBook\ Pro\ 14_\ -\ 2.png');
    font-family: niramit;
    overflow-x: hidden;

}
.container {
    height: 4rem; 
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.glass-card {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    margin: 0;

    backdrop-filter: blur(1rem);
    width: 100%;
    height: 10vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.249);
    position: fixed;
}
ul {
    padding-top: 8px;
}
ul li{
    font-size: 18px;
    display: inline;
    color: black;
    justify-content: space-evenly;
    padding: 25px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.137);
}
ul li a {
    text-decoration: none;
    color: black;
}
a:link {
    color: black;  
}

a:visited {
    color: black;
}

a:hover {
    color: #ff5500;  
}
.circle1 {
    margin-top: -9vh;
    margin-left: -25vw;
    background: #ff5500;
    opacity: 90%;
    height: 100vh;
    width: 50vw;
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.298);
    box-shadow: 10px 6px 2px rgb(191, 191, 191);
}



.logo {
    color: black;
    font-family: "Sedgwick Ave";
    font-size: 150px;
    font-weight: lighter;
    line-height: 100%;
    margin-left: 30vw;
    margin-top: 30vh;
    text-shadow: 0px 8px 2px rgba(0, 0, 0, 0.304);
}

p {
    font-size: 15px;
    margin-top: -12vh;
    margin-left: 34vw;
}
.vertical-line {
    border-left: 1.5px solid black;
    border-top: transparent;
    border-right: transparent;
    border-bottom: transparent;
    height: 3.4vh;
    margin-left: 33.6vw;
    margin-top: -5.7vh;
}
.logo-image {
    margin-top: -23vh;
    margin-left: 57vw;
    height: 100px;
    width: 100px;
}
.signup {
    height: 35px;
    width: 150px;
    border-top: 7px solid #ff5500;
    background-color: #ff5500;
    border-radius: 50px;
    padding-top: 1px;
    margin-top: -4vh;
    margin-left: 32vw;
}


.circle2 {
    margin-top: -60vh;
    margin-left: 100vw;
    background: #ff55001d;
    opacity: 90%;
    height: 100vh;
    width: 50vw;
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.066);
    box-shadow: 10px 6px 2px rgba(191, 191, 191, 0.157);
    display: block;
    z-index: 0;
    position: absolute;
}


/* .circle2 {
    margin-top: 10vh;
    margin-right: 10vw;
    background: #ff550026;
    height: 110vh;
    width: 55vw;
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.085);
    box-shadow: -10px 6px 2px rgba(191, 191, 191, 0.136);
    display: inline;
} */

.imgclass {
    display: inline;
    height: 60vh;
    width: 70vw;
    margin-top: -39vh;
    margin-left: 80vw;
    position: absolute;
    z-index: 10;
}
